<style>
  table {
    width: 100%;
  }

  tr.detail-row {
    height: 0;
  }

  tr.element-row:not(.expanded-row):hover {
    background: #333;
  }

  tr.element-row:not(.expanded-row):active {
    background: #333;
  }

  .element-row td {
    border-bottom-width: 0;
  }

  #expanded-table {
    background-color: #333;
  }
</style>

<table
  mat-table
  [dataSource]="summaryData"
  multiTemplateDataRows
  class="mat-elevation-z8"
>
  <!-- Summary   -->
  <ng-container matColumnDef="{{ column }}" *ngFor="let column of columnsArray">
    <th mat-header-cell *matHeaderCellDef>{{ columns[column] }}</th>
    <td mat-cell *matCellDef="let element">{{ element[column] }}</td>
  </ng-container>

  <!-- Expanded Content -->
  <ng-container matColumnDef="expandedDetails">
    <td mat-cell *matCellDef="let element" [attr.colspan]="columnsArray.length">
      <div
        class="example-element-detail"
        [@detailsExpand]="element == expandedElement ? 'expanded' : 'collapsed'"
      >
        <mat-table id="expanded-table" [dataSource]="element.expandedDetails">
          <ng-container matColumnDef="description">
            <mat-header-cell *matHeaderCellDef> Description </mat-header-cell>
            <mat-cell *matCellDef="let entry">
              {{ entry.description }}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="start">
            <mat-header-cell *matHeaderCellDef> Start Time </mat-header-cell>
            <mat-cell *matCellDef="let entry">
              {{ entry.start | date : "shortTime" }}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="end">
            <mat-header-cell *matHeaderCellDef> End Time </mat-header-cell>
            <mat-cell *matCellDef="let entry">
              {{ entry.end | date : "shortTime" }}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="duration">
            <mat-header-cell *matHeaderCellDef> Duration </mat-header-cell>
            <mat-cell *matCellDef="let entry">
              {{ entry.duration }}
            </mat-cell>
          </ng-container>

          <mat-header-row
            *matHeaderRowDef="detailsColumnsArray"
          ></mat-header-row>
          <mat-row *matRowDef="let row; columns: detailsColumnsArray"></mat-row>
        </mat-table>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsArray"></tr>
  <tr
    mat-row
    *matRowDef="let element; columns: columnsArray"
    class="element-row"
    [class.expanded-row]="expandedElement === element"
    (click)="expandedElement = expandedElement === element ? null : element"
  ></tr>
  <tr
    mat-row
    *matRowDef="let row; columns: ['expandedDetails']"
    class="detail-row"
  ></tr>
</table>
