<style>
  .file-input {
    display: none;
  }

  .file-name {
    padding-right: 2vb;
  }

  .file-upload {
    align-items: center;
    justify-content: center;
    display: flex;
  }
</style>

<input
  type="file"
  class="file-input"
  [accept]="requiredFileType"
  (change)="onFileSelected($event)"
  #fileUpload
/>

<div class="file-upload">
  <span class="file-name"> {{ fileName || "No file uploaded yet." }}</span>

  <button
    mat-mini-fab
    color="primary"
    class="upload-btn"
    (click)="fileUpload.click()"
  >
    <mat-icon>attach_file</mat-icon>
  </button>
</div>

<div class="progress">
  <mat-progress-bar
    class="progress-bar"
    mode="determinate"
    [value]="uploadProgress"
    *ngIf="uploadProgress"
  >
  </mat-progress-bar>

  <mat-icon
    class="cancel-upload"
    (click)="cancelUpload()"
    *ngIf="uploadProgress"
    >delete_forever</mat-icon
  >
</div>
